.title{
	text-align: center;
	margin-top: 32px;
	font-size: 46px;
	font-family: sans-serif;
	background-color: #a5c5c7;
}
.container{
	margin: 25px auto 3px auto !important;
	width: 61%;
}
#content{
    
display: inline-block;
    
height: 372px;
    
width: 66%;
    
background-color: #fff;
    
padding: 9px;
}

.controls {margin: 6px auto !important;width: 61%;overflow: auto;}
.controls input{
    /*margin:auto;*/
}

.controls div{
    float: left;
}

#label,#name {
    font-size: 18px;
    font-weight: 900;
    padding-right: 5px;
    float: left;
}



#field{margin-top: 6px;border: 1px solid #aeaeae;border-radius: 3px;height: 33px;margin-bottom: 0px;float: left;width: 81%;padding-left: 4px;}



#send {
    margin-top: 4px;
    height: 39px;
    -moz-box-shadow: 0px 10px 14px -7px #276873;
    /* -webkit-box-shadow: 0px 10px 14px -7px #276873; */
    /* box-shadow: 0px 10px 14px -7px #276873; */
    /* background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7db7cc), color-stop(1, #408c99)); */
    background:-moz-linear-gradient(top, #7db7cc 5%, #408c99 100%);
    background:-webkit-linear-gradient(top, #7db7cc 5%, #408c99 100%);
    background:-o-linear-gradient(top, #7db7cc 5%, #408c99 100%);
    background:-ms-linear-gradient(top, #7db7cc 5%, #408c99 100%);
    background:linear-gradient(to bottom, #7db7cc 5%, #408c99 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db7cc', endColorstr='#408c99',GradientType=0);
    background-color:#7db7cc;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size: 18px;
    /* font-weight:bold; */
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
    float: left;
    width: 17%;
}
#send:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #7db7cc));
	background:-moz-linear-gradient(top, #408c99 5%, #7db7cc 100%);
	background:-webkit-linear-gradient(top, #408c99 5%, #7db7cc 100%);
	background:-o-linear-gradient(top, #408c99 5%, #7db7cc 100%);
	background:-ms-linear-gradient(top, #408c99 5%, #7db7cc 100%);
	background:linear-gradient(to bottom, #408c99 5%, #7db7cc 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#7db7cc',GradientType=0);
	background-color:#408c99;
}
#send:active {
	position:relative;
	top:1px;
}

#users {
    background-color: #f8f8ff;
    border: solid 1px #999;
    overflow-y: scroll;
    float: right;
    width: 27%;
    min-height: 389px;
    display: inline-block;
    /* position: fixed; */
    /* top: 22px; */
    /* right: 20px; */
}
#userslist li {
    list-style-type: circle;
    color: #00A000;
}


.online-user {
    font-size: large;
}

body{
	background-color: #f2f2f2;
}

.logout{
	
float: right;
}


.userdata{
	
margin-top: 12px;
	
padding: 2px 28px;
	
border: 1px solid #cdc9c9;
	
background: #fff;
	
border-radius: 3px;
	
width: 92%;
}

#time{
	margin-right;
	padding-right: 4px;
	color: #1883d8;
	font-size: 12px;
	font-weight: 400;
}

#at{
	color:blue;
}