<!DOCTYPE html>
<html>
  <head>
    <title>Real time web chat</title>
    <script src="/chat.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link href="/css/stylesheet.css" rel="stylesheet">
  </head>
  <body>
	<div class="title">Chat Room</div>
	<div class="container">
		<div id="content" style="border: solid 1px #999; overflow-y: scroll;"></div>
		<div id="users"  style="">
		  <p style="text-align: center; font-size: medium; font-weight: bold;">Users in chat:</p>
		  <ul id="userslist">
		  </ul>
		</div>
    </div>
    <div class="controls">
	<% var username = (user.displayName) ? user.displayName : user.local.username %>
      
      <input type="hidden" id="name" value="<%= username %>"><br>
      <span><input id="field"></span>
      <span><input id="send" type="button" value="send"></span>
	  <div class="userdata">
	  <span class="label" id="label">Username: <%= username %></span>
	  <span class="logout"><a href="/logout" >Logout</a></span>
	  </div>
    </div>
    
  </body>
  
  <!-- user.local.username  user.facebook.name -->
</html>